@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphicons';
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons/glyphicons-halflings-regular.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*PADRAO*/
body {
  font-family: robotolight;
  font-size: 14px;
}

h1, h2, h3 {
  color: #066a9c;
  text-transform: uppercase;
}

h1 {
  font-family: robotomedium;
}

h2, h3 {
  font-family: robotoregular;
}

ul, li {
  list-style-type: none;
}

strong {
    font-family: robotoregular;
}

/*BOOTSTRAP*/
.navbar-default {
  background-color: #fff;
  border-color: #fff;
  /*opacity: 0.8;*/
}
.navbar-default .navbar-nav > li > a.doacoes-menu {
    background-color: #066a9c;
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > .doacoes-menu {
  background-color: #eb681b;
  color: #fff;
}

.navbar-brand {
  height: 66px;
}

.navbar-default .navbar-nav>li>a {
  color: #066a9c;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #eb681b;
}

.navbar-nav>li>a {
  padding-top: 23px;
  padding-bottom: 23px;
}

.logo {
  height: 35px;
  width: auto;
}

.nav {
  font-family: robotomedium;
  font-size: 16px;
}

.navbar-default .navbar-toggle {
  margin-top: 13px;
}

.carousel-inner {
  margin-top: 8px;
}

/*NOVOS*/
.fundo {
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.dfundo {
  background: url('../img/dfundo.png') no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.dfundo .panel {
    margin-bottom: 0;
}

.agenda {
  color: #fff;
}

.agenda h3 {
  font-family: robotoregular;
  color: #fff;
  margin-top: 0;
}

.anota {
  background-color: #fff;
}

.anota p, .anota h3 {
  padding: 0 10px;
}

.title {
  display: inline-block;
  border-right: solid 15px #eb681b;
  padding-right: 10px;
}

.secao {
    margin-top: -50px;
    padding-top: 50px ;
}

.margem {
    padding: 20px 0;
}

.link-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 150px;
}

.bdestaque {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(229, 106, 38, 0.7);
    width: 200px;
    height: 100px;
    color: #fff;
    padding: 10px;
}

.bdestaque h4 {
    font-family: robotoregular;
    font-size: 18px;
}

.bdestaque p {
  font-family: robotolight;
  font-size: 12px;
}

/*.destaque {
    position: absolute;
    margin-top: -350px;
    margin-left: 670px;
    color: #fff;
}

.destaque h1 {
  font-family: robotomedium;
  color: #eb681b;
  font-size: 80px;
}

.destaque h2 {
  font-family: robotomedium;
  font-size: 55px;
}*/

.rodape {
  background-color: #eb681b;
}

.rodape h3 {
  font-family: robotomedium;
}

.info {
  background-color: #c25c1e;
  color: #fff;
  font-family: robotoregular;
  text-align: center;
  /*height: 60px;*/
  padding: 15px;
}

.newsletter {
    padding-bottom: 30px;
}

.contato p, .contato a, .social p, .social a, .newsletter p {
  font-family: robotoregular;
  color: #fff;
}

.contato span {
  padding-right: 5px;
}

.glyphicon-envelope, .genericon-facebook-alt, .genericon-twitter {
  font-size: 20px;
}

.genericon-instagram {
  font-size: 18px;
}


/* Teste */

.destaque-principal {
    background: url(../img/grupo.jpg) no-repeat top center;
    background-size: cover;
    /*margin-top: 66px;*/
    overflow: hidden;
    height: 100vh;
}
.destaque-principal div {
    margin-top: 70vh;
    /*margin-bottom: 10vh;*/
}
.destaque-principal h1 {
  font-family: robotomedium;
  color: #eb681b;
  font-size: 10vw;
}
.destaque-principal h2 {
  font-family: robotomedium;
  font-size: 5vw;
}

/* Small devices (celulares) */
@media (max-width: 768px) {
    .destaque-principal h1 {
        font-size: 10vw;
    }
    .destaque-principal h2 {
        font-size: 5vw;
    }
    .foto {
        margin-bottom: 15px;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .destaque-principal h1 {
        font-size: 10vw;
    }
    .destaque-principal h2 {
        font-size: 5vw;
    }
    .foto {
        margin-bottom: 15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .destaque-principal h1 {
        font-size: 8vw;
    }
    .destaque-principal h2 {
        font-size: 4vw;
    }
    .foto {
        margin-bottom: 30px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .destaque-principal h1 {
        font-size: 5vw;
    }
    .destaque-principal h2 {
        font-size: 2.5vw;
    }
    .foto {
        margin-bottom: 30px;
    }
}

.postagem {
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-size: cover;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.blog-destaque-principal {
    background: url(../img/grupo.jpg) no-repeat top center;
    background-size: cover;
    /*margin-top: 66px;*/
    overflow: hidden;
    margin-bottom: 30px;
}
.blog-destaque-principal .container {
    position: relative;
    height: 50vh;
}
.blog-destaque-principal h1 {
  font-family: robotomedium;
  color: #eb681b;
  position: absolute;
  bottom: 30px;
  left: 30px;
  /*font-size: 10vw;*/
}
.categorias-destaque {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0 15px;
    margin-bottom: 30px;
}
.categorias-destaque li {
    display: inline-block;
}
.categorias-destaque li a {
    color: #eb681b;
    display: block;
    padding: 5px 15px;
}